
body {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: medium;
}


.header {
    background-color: #dbbccc;
    text-align: center;
}



#index-form {
    display: flex;
    justify-content: center;
}

#suggestion-textbox {
    width: 200px;
    height: 200px;
}
