
body {
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: medium;
    margin: 0;
}


.header {
    background-color: #dbbccc;
    text-align: center;
    margin: 0;
    padding: 0;
}


/* section of image of Lithuanian cities. */
#index-cities-img {
    text-align: center;
    background-color: #ccd2e0;
}



/* Suggestion form. */
#index-form {
    display: flex;
    justify-content: center;
}

#suggestion-textbox {
    width: 200px;
    height: 200px;
}
